<%- include("partials/header.ejs") %>
<h1>Submitted Posts</h1>

<% posts.forEach(post => { %>
<div class="post-card">
  <h2 class="ticket"><%= post.issue %></h2>
  <p class="ticket"><%= post.post %></p>

  <!-- Edit Link -->
  <a href="/edit-post/<%= post.id %>" class="edit-link fun-button">Edit</a>

  <!-- Delete Button -->
  <form action="/delete-post/<%= post.id %>" method="POST" class="delete-form">
    <button class="delete-button fun-button" type="submit">Delete</button>
  </form>
</div>
<% }); %> <%- include("partials/footer.ejs") %>
